*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
}


/* highlight section */

.highlightsection{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 25px 25px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}