*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
}

.highlightsection p{
    opacity: 0.7;
}

.page{
    margin: auto;
    max-width: 650px;
}


/* highlight section */

.highlightsection{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 30px 30px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding: 1em 2em 2em 2em;
    margin-bottom: 1em;
}

.high{
    margin-bottom: 1.5em;
    max-width: 303px;
    margin-left: auto;
    margin-right: auto;
}

.numbers{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    margin: 0 auto 1.5em auto;
    padding: 1em;
    max-width: 156px;
}


.numbers h1{
    font-size: 3em;
}

.footer{
    margin-bottom: 0;
}

.footer h2{
    margin-bottom: 0.5em;
}


/* summary section */

.sum{
    margin: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.header{
    margin-left: 0.1em;
    font-weight: bold;
}

.titles{
    margin-right: auto;
    margin-left: 0.5em;
    font-weight: bold;
}

.reaction{
    background-color: rgba(255, 87, 87, 0.1);
}

.red{
    color: hsl(0, 100%, 67%);
}

.memory{
    background-color: rgba(255, 176, 31, 0.1);
}

.yellow{
    color: hsl(39, 100%, 56%);
}

.verbal{
    background-color: rgba(0, 189, 145, 0.1);
}

.green{
    color: hsl(166, 100%, 37%);
}

.visual{
    background-color: rgba(17, 37, 212, 0.1);
}

.purple{
    color: hsl(234, 85%, 45%);
}

.button{
    background-color: hsl(224, 30%, 27%);
    justify-content: center;
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    margin: 1.5em 1em;
}

/* Desktop display */

@media only screen and (min-width: 784px){
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .page{
        display: flex;
    }

    .highlightsection{
        margin-bottom: 0;
        border-radius: 30px;

    }

    .summary{
        border-radius: 0 30px 30px 0;
    }
}



